.currentResumeEditForm
  .col-xs-1.col-md-1
    .btn_back
    = link_to "Back", root_path, class: "btn btn-default"
  .col-xs-10.col-md-10
    .tit_desc_img_block
      = simple_form_for @amsfood, html: { multipart: true } do |f|
        - if @amsfood.errors.any?
          #errors
            %p
              = @amsfood.errors.count
              Prevented this amsstone froms saving
            %ul
              - @amsfood.errors.full_messages.each do |msg|
                %li= msg
        .panel-body
          = f.collection_select :foodcategory_id, Foodcategory.all, :id, :categoryname, {promt: "Выберите Категорию"}, class: 'form-control'

          = f.input :titlerus, label: 'resume Name', input_html: { title: "ИМЯ НОВОЙ ЕДИНИЦЫ ТОВАРА", class: 'form-control'}
          
          = f.input :descriptionrus, label: 'resume Name', input_html: { title: "ОПИСАНИЕ НОВОЙ ЕДИНИЦЫ ТОВАРА", class: 'form-control'}
          
          = f.input :imagefood, label: 'Выберите изображение', input_html: { class: 'form-control'}

        .sub_button
          = f.button :submit, class: "btn btn-primary sub_button"
        .btn_bottom_back
          = link_to "Back", root_path, class: "btn btn-default btn_bottom_back"
  .col-xs-1.col-md-1