%div.foodheadmain
  %div.formargin
    %div.foodhead
      %div.foodlanguage.inline
        %ul
          %li.language EN
          %li.language AR
          %li.language RU 
      %div.foodlogo.inline
        .bootstile
          .col-xs-5.col-md-5
            %div.center.inline
              = link_to image_tag( 'AMS1.png', :class => 'ams_logo_head' ), amsgroups_path, target: '_blank'
          .col-xs-7.col-md-7
            %div.slides.inline
              %ul
                %li
                  =image_tag( '1.jpg', :class => 'foto_slider_group' )
                  %div 
                    %p МУКА
                %li
                  =image_tag( '2.jpg', :class => 'foto_slider_group' )
                  %div 
                    %p КАЧЕСТВО
                %li
                  =image_tag( '8.jpg', :class => 'foto_slider_group' )
                  %div 
                    %p ПОДСОЛНЕЧНОЕ МАСЛО
                %li
                  =image_tag( '4.jpg', :class => 'foto_slider_group' )
                  %div 
                    %p ПЕЛЬМЕНИ
                %li
                  =image_tag( '6.jpg', :class => 'foto_slider_group' )
                  %div 
                    %p ДОВЕРИЕ
                %li
                  =image_tag( '1.jpg', :class => 'foto_slider_group' )
                  %div 
                    %p ЗЕРНО
      
      %div.groupcontact.inline
        %li.contact 
          = link_to image_tag( 'google-plus-3-512.png', :class => 'contacts_to_group' ), amsgroups_path, target: '_blank'
        %li.contact
          = link_to image_tag( 'facebook-3-512.png', :class => 'contacts_to_group' ), amsgroups_path, target: '_blank'
        %li.contact
          = link_to image_tag( 'skype-3-512.png', :class => 'contacts_to_group' ), amsgroups_path, target: '_blank'

.tabbedf
  %input{:type=>"radio", :name => "tabsf", :id=>"ftab-nav-1", :checked=> true}
    %label{:for=>"ftab-nav-1"} AMS Foods 
  %input{:type=>"radio", :name => "tabsf", :id=>"ftab-nav-2"}
    %label{:for=>"ftab-nav-2"} AMS Foods who we are
  %input{:type=>"radio", :name => "tabsf", :id=>"ftab-nav-3"}
    %label{:for=>"ftab-nav-3"} Production 
  %input{:type=>"radio", :name => "tabsf", :id=>"ftab-nav-4"}
    %label{:for=>"ftab-nav-4"} Contacts
  %div{ :class => ['tabsf']}
    %div
      %div.amsfood_maintext
        %h2 AMS International Group
        %p Kомпания АМС Интернешнл Груп была создана с целью развития и улучшения торговых отношений между украинскими и иностранными покупателями и продавцами различных товаров. Мы работаем с производственными компаниями, частным лицами и агентами по всей территории Украины и за рубежом. Благодаря накопленному опыту работы в Украине мы знаем: какие товары и продукты востребованы сегодня; по каким ценам они интересны для украинских и иностранных импортеров, экспортеров, потребителей товаров и продуктов; какие факторы влияют на деятельность торговых компаний – импортеров и экспортеров; при каких условиях торговые компании имеют возможность совершать сделки и добиться максимального результата специфику украинского налогового и таможенного законодательства, от которых в значительной степени зависит деятельность импортеров и экспортеров. Наше видение Стать торговой компанией №1 в Украине и поддерживать высокий уровень для большинства импортеров и экспортеров товаров и продуктов. Наша миссия Наша торговая компания стремится предоставлять необходимые товары и услуги для международных и отечественных клиентов и партнеров своевременно и по приемлемым ценам. Мы гордимся нашей ролью в торговых отношениях и делаем все, что от нас зависит для оказания услуг на высшем уровне и поддержанию хороших взаимоотношений с компаниями, которые принимают участие в экспортных и импортных операциях с Украиной. Компания осуществляет торговые сделки, а также оказывает профессиональные услуги для производителей и покупателей. АМС Интернешнл Груп является экспортером и импортером. Мы специализируемся на различных видах товаров – полезные ископаемые, гранит, продукты питания, и др. АМС Интернешнл Груп имеет прямые контакты с производителями и продавцами товаров, ритейл сетями, брокерами и дистрибьюторами, которые обеспечивают нам прочные позиции на украинском рынке. Это способствует улучшению отношений между украинскими и иностранными участниками торговли. Компания постоянно растет с момента ее основания и расширяет границы своей деятельности в странах восток и Эвропы , увеличивает ассортимент товаров, а также наращивает свои торговые обороты на украинском рынке. Мы с нетерпением ждем сотрудничества с Вами! Команда компании АМС Интернешнл Груп
      .navbar-brand= link_to "AMS Group", amsgroups_path
    %div
      %h2 главная
      %p Компания <strong>AMS Internatioanl</strong> предоставляет услуги доставки\заказа материала и изделий из гранита, а так же предоставляет отдельные услуги грузодоставки подобных материалов между объектами, по Украине и странам Евросоюза. Более детальную информацию о материалах, их цене и контакты Вы можете найти в соответствующих разделах сайта.
    %div
      %h2 главная
      %p Компания <strong>AMS Internatioanl</strong> предоставляет услуги доставки\заказа материала и изделий из гранита, а так же предоставляет отдельные услуги грузодоставки подобных материалов между объектами, по Украине и странам Евросоюза. Более детальную информацию о материалах, их цене и контакты Вы можете найти в соответствующих разделах сайта.
    %div
      %h2 главная
      %p Компания <strong>AMS Internatioanl</strong> предоставляет услуги доставки\заказа материала и изделий из гранита, а так же предоставляет отдельные услуги грузодоставки подобных материалов между объектами, по Украине и странам Евросоюза. Более детальную информацию о материалах, их цене и контакты Вы можете найти в соответствующих разделах сайта.



