%h1 this is the face of user, like a person status
= image_tag @amsstonepicture.imagestonepicture.url(:medium, class: "ams_gallery_foto")
%h2= @amsstonepicture.titlerus
%br
%h3= @amsstonepicture.descriptionrus
%br

= link_to "Back", amsstonepictures_path, class: "btn btn-default"
= link_to "Edit", edit_amsstonepicture_path, class: "btn btn-default"
= link_to "delete", amsstonepicture_path, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default"