.currentResumeEditForm
  .col-xs-1.col-md-1
    .btn_back
    = link_to "Back", root_path, class: "btn btn-default"
  .col-xs-10.col-md-10
    .tit_desc_img_block
      %h1.colorgold  NEW STONE
      = simple_form_for @amsstone, html: { multipart: true } do |f|
        - if @amsstone.errors.any?
          #errors
            %p
              = @amsstone.errors.count
              Prevented this amsstone froms saving
            %ul
              - @amsstone.errors.full_messages.each do |msg|
                %li= msg
        .panel-body
          = f.input :titlerus, label: 'resume Name', input_html: { title: "NAME of your resume", class: 'form-control'}
          = f.input :titleeng, label: 'resume description', input_html: { class: 'form-control'}
          = f.input :titlear, label: 'Link', input_html: { title: "NAME of your resume", class: 'form-control'}
          = f.input :descriptionrus, label: 'resume Name', input_html: { title: "NAME of your resume", class: 'form-control'}
          = f.input :descriptioneng, label: 'resume description', input_html: { class: 'form-control'}
          = f.input :descriptionar, label: 'Link', input_html: { title: "NAME of your resume", class: 'form-control'}
          <!-- = f.input :imgresume, label: 'Attach an image that will be in this resume', input_html: { class: 'form-control'} -->

        .sub_button
          = f.button :submit, class: "btn btn-primary sub_button"
        .btn_bottom_back
          = link_to "Back", root_path, class: "btn btn-default btn_bottom_back"
  .col-xs-1.col-md-1