%div.stoneheadmain
  %div.formargin
    %div.stonehead
      %div.stonelanguage.inline
        %ul
          %li.language EN
          %li.language AR
          %li.language RU 
      %div.stonelogo.inline
        .bootstile
          .col-xs-5.col-md-5
            %div.center.inline
              = link_to image_tag( 'AMS1.png', :class => 'ams_logo_head' ), amsgroups_path, target: '_blank'
          .col-xs-7.col-md-7
            %div.slides.inline
              %ul
                %li
                  =image_tag( '1.jpg', :class => 'foto_slider_group' )
                  %div 
                    %p МРАМОРНЫЕ ИЗДЕЛИ
                %li
                  =image_tag( '2.jpg', :class => 'foto_slider_group' )
                  %div 
                    %p ПЛИТКА ИЗ МРАМОРА
                %li
                  =image_tag( '8.jpg', :class => 'foto_slider_group' )
                  %div 
                    %p МРАМОР ТЁМНЫЙ
                %li
                  =image_tag( '4.jpg', :class => 'foto_slider_group' )
                  %div 
                    %p МРАМОР БЕЛЫЙ
                %li
                  =image_tag( '6.jpg', :class => 'foto_slider_group' )
                  %div 
                    %p МРАМОР МРАМОРНЫЙ
                %li
                  =image_tag( '1.jpg', :class => 'foto_slider_group' )
                  %div 
                    %p МРАМОРИЩЕ
      %div.stonecontact.inline
        %li.contact 
          = link_to image_tag( 'skype.png', :class => 'contacts_to_stone' ), amsgroups_path, target: '_blank'
        %li.contact
          = link_to image_tag( 'github.png', :class => 'contacts_to_stone' ), amsgroups_path, target: '_blank'
        %li.contact
          = link_to image_tag( 'fb.png', :class => 'contacts_to_stone' ), amsgroups_path, target: '_blank'

.tabbedstones
  %input{:type=>"radio", :name => "sttabs", :id=>"stonestab-nav-1", :checked=> true}
    %label{:for=>"stonestab-nav-1"} AMS Group 
  %input{:type=>"radio", :name => "sttabs", :id=>"stonestab-nav-2"}
    %label{:for=>"stonestab-nav-2"} AMS How we work
  %input{:type=>"radio", :name => "sttabs", :id=>"stonestab-nav-3"}
    %label{:for=>"stonestab-nav-3"} Production 
  %input{:type=>"radio", :name => "sttabs", :id=>"stonestab-nav-4"}
    %label{:for=>"stonestab-nav-4"} контакты
  %div{ :class => ['stonestabs']}
    %div
      %div.amsgroup_maintext
        %h2 главная
        %p 
          %br Мы компания которая многие годы занимается мрамором и гранитом, за все это время мы обрели богатый опыт и знания о технике работы с этими натуральными камнями. 
          %br Сегодня изделия из гранита и мрамора все так же актуальны как и на протяжении многих лет. Они используются как для облицовки внешних фасадов дома так и для изготовления изделий внутреннего дизайна.
          %br Гранит ,помимо ударопрочности, также обладает устойчивостью к низким температурам и загрязнениям.. Алмазная обработка способствует образованию идеально гладкой поверхности, а наш мрамор не оставит равнодушным никого, он отлично дополнит любой интерьер дома.
          %br Наша компания уделяет много внимания технологиям обработки постоянно усовершенствуя их поскольку это имеет ключевое значение. 
          %br У нас вы найдете богатый выбор камней. Мы гарантируем высокое качество нашей продукции, ценим и дорожим каждым клиентом.
      .navbar-brand= link_to "AMS Group", amsgroups_path
    %div
      %h2 главная
      %p Компания <strong>AMS Internatioanl</strong> предоставляет услуги доставки\заказа материала и изделий из гранита, а так же предоставляет отдельные услуги грузодоставки подобных материалов между объектами, по Украине и странам Евросоюза. Более детальную информацию о материалах, их цене и контакты Вы можете найти в соответствующих разделах сайта.
    %div
      %h2 главная
      %p Компания <strong>AMS Internatioanl</strong> предоставляет услуги доставки\заказа материала и изделий из гранита, а так же предоставляет отдельные услуги грузодоставки подобных материалов между объектами, по Украине и странам Евросоюза. Более детальную информацию о материалах, их цене и контакты Вы можете найти в соответствующих разделах сайта.

      %div.stone_gallery
        - @amsstone.each_slice(3) do |stone|
          %div
            - stone.each do  |s|
              .ams_gallery_foto
                = link_to s do
                  = image_tag s.imagestone.url(:medium)
              %h2= link_to s.titlerus, s

    %div
      %h2 главная
      %p Компания <strong>AMS Internatioanl</strong> предоставляет услуги доставки\заказа материала и изделий из гранита, а так же предоставляет отдельные услуги грузодоставки подобных материалов между объектами, по Украине и странам Евросоюза. Более детальную информацию о материалах, их цене и контакты Вы можете найти в соответствующих разделах сайта.