%div.groupheadmain
  %div.formargin
    %div.grouphead
      %div.grouplanguage.inline
        %ul
          %li.language
            =link_to_unless_current "EN", locale: "en"
          %li.language 
            =link_to_unless_current "RU", locale: "ru"
          %li.language 
            =link_to_unless_current "AR", locale: "ar"
      %div.grouplogo.inline
        .bootstile
          .col-xs-5.col-md-5
            %div.center.inline
              = link_to image_tag( 'logo-ams1.png', :class => 'ams_logo_head' ), amsgroups_path, target: '_blank'
          .col-xs-7.col-md-7
            %div.slides.inline
              %ul
                %li
                  =image_tag( '1.jpg', :class => 'foto_slider_group' )
                  %div 
                    %p ДОСТУПНОСТЬ
                %li
                  =image_tag( '2.jpg', :class => 'foto_slider_group' )
                  %div 
                    %p ЦЕНА
                %li
                  =image_tag( '8.jpg', :class => 'foto_slider_group' )
                  %div 
                    %p КАЧЕСТВО
                %li
                  =image_tag( '4.jpg', :class => 'foto_slider_group' )
                  %div 
                    %p ГАРАНТИЯ
                %li
                  =image_tag( '6.jpg', :class => 'foto_slider_group' )
                  %div 
                    %p РЕЗУЛЬТАТ
                %li
                  =image_tag( '1.jpg', :class => 'foto_slider_group' )
                  %div 
                    %p ЭТАЛОН

      %div.groupcontact.inline
        %li.contact 
          = link_to image_tag( 'google-plus-3-512.png', :class => 'contacts_to_group' ), amsgroups_path, target: '_blank'
        %li.contact
          = link_to image_tag( 'facebook-3-512.png', :class => 'contacts_to_group' ), amsgroups_path, target: '_blank'
        %li.contact
          = link_to image_tag( 'skype-3-512.png', :class => 'contacts_to_group' ), amsgroups_path, target: '_blank'

%div.formargin
  .tabbed
    %input{:type=>"radio", :name => "tabs", :id=>"tab-nav-1", :checked=> true}
      %label{:for=>"tab-nav-1"} AMS Group 
    %input{:type=>"radio", :name => "tabs", :id=>"tab-nav-2"}
      %label{:for=>"tab-nav-2"} How we work
    %input{:type=>"radio", :name => "tabs", :id=>"tab-nav-3"}
      %label{:for=>"tab-nav-3"} Production 
    %input{:type=>"radio", :name => "tabs", :id=>"tab-nav-4"}
      %label{:for=>"tab-nav-4"} Contacts
    %div{ :class => ['tabs']}
      %div
        %div.amsgroup_maintext
          %h2=t 'welcome.title'
          %p=t 'welcome.paragraph' 

          %br
          %br
          %title t('welcome.title')
          %p
            
            =t 'welcome.title' 
                    
        %div.amsgroupfoodandstone


          .col-xs-6.col-md-6
            %div.amsgroupfood
              %div.amsgroupfshead.amsgroupfsheadgrey= link_to "AMS Stones", amsstones_path, class: " btn asmstone_button"
              %div.amsgroupfsbody
                %div.slides_fs
                  %ul
                    %li
                      =image_tag( '1.jpg', :class => 'picture_ams_groupfs' )
                      %div 
                        %p МРАМОРНЫЕ ИЗДЕЛИ
                    %li
                      =image_tag( '2.jpg', :class => 'picture_ams_groupfs' )
                      %div 
                        %p ПЛИТКА ИЗ МРАМОРА
                    %li
                      =image_tag( '8.jpg', :class => 'picture_ams_groupfs' )
                      %div 
                        %p МРАМОР ТЁМНЫЙ
                    %li
                      =image_tag( '4.jpg', :class => 'picture_ams_groupfs' )
                      %div 
                        %p МРАМОР БЕЛЫЙ
                    %li
                      =image_tag( '6.jpg', :class => 'picture_ams_groupfs' )
                      %div 
                        %p МРАМОР МРАМОРНЫЙ
                    %li
                      =image_tag( '1.jpg', :class => 'picture_ams_groupfs' )
                      %div 
                        %p МРАМОРИЩЕ

          .col-xs-6.col-md-6
            %div.amsgroupfood
              %div.amsgroupfshead.amsgroupfsheadred= link_to "AMS Foods", amsfoods_path, class: " btn asmfood_button"
              %div.amsgroupfsbody
                %div.slides_fs
                  %ul
                    %li
                      =image_tag( '1.jpg', :class => 'picture_ams_groupfs' )
                      %div 
                        %p МУКА
                    %li
                      =image_tag( '2.jpg', :class => 'picture_ams_groupfs' )
                      %div 
                        %p ЗЕРНО
                    %li
                      =image_tag( '8.jpg', :class => 'picture_ams_groupfs' )
                      %div 
                        %p ПОДСОЛНЕЧНОЕ МАСЛО
                    %li
                      =image_tag( '4.jpg', :class => 'picture_ams_groupfs' )
                      %div 
                        %p ЗЕРНО
                    %li
                      =image_tag( '6.jpg', :class => 'picture_ams_groupfs' )
                      %div 
                        %p МУКА
                    %li
                      =image_tag( '1.jpg', :class => 'picture_ams_groupfs' )
                      %div 
                        %p МУКА
        

      %div
        
        %div.amsworkvideo
          = link_to image_tag( 'job.gif', :class => 'ams_video' ), amsgroups_path, target: '_blank'
        %div.amsworktext
          %h2 AMS How we work?
          %p Торговая компания АМС Интернешнл Груп была создана с целью развития и улучшения торговых отношений между украинскими и иностранными покупателями и продавцами различных товаров.  Мы работаем с производственными компаниями, частным лицами и агентами по всей территории Украины и за рубежом.  Благодаря накопленному опыту работы в Украине мы знаем:  какие товары и продукты востребованы сегодня; по каким ценам они интересны для украинских и иностранных импортеров, экспортеров, потребителей товаров и продуктов; какие факторы влияют на деятельность торговых компаний – импортеров и экспортеров; при каких условиях торговые компании имеют возможность совершать сделки и добиться максимального результата специфику украинского налогового и таможенного законодательства, от которых в значительной степени зависит деятельность импортеров и экспортеров. Наше видение  Стать торговой компанией  №1 в Украине и поддерживать высокий уровень для большинства импортеров и экспортеров  товаров и продуктов. Наша миссия  Наша торговая компания стремится предоставлять необходимые товары и услуги для международных и отечественных клиентов и партнеров своевременно и по приемлемым ценам.  Мы гордимся нашей ролью в торговых отношениях и делаем все, что от нас зависит для оказания услуг на высшем уровне и поддержанию хороших взаимоотношений с компаниями, которые принимают участие в экспортных и импортных операциях с Украиной.  Компания осуществляет  торговые сделки, а также оказывает профессиональные услуги для производителей и покупателей.  АМС Интернешнл Груп является экспортером и импортером.  Мы специализируемся  на различных видах товаров – полезные ископаемые,  гранит, продукты питания, и др.   АМС Интернешнл Груп имеет прямые контакты с производителями и продавцами товаров, ритейл сетями, брокерами и дистрибьюторами, которые обеспечивают нам прочные позиции на украинском рынке. Это способствует улучшению отношений между украинскими и иностранными участниками торговли.  Компания постоянно растет с момента ее основания и расширяет границы своей деятельности в странах восток и Эвропы , увеличивает ассортимент товаров, а также  наращивает свои торговые обороты на украинском рынке.  Мы с нетерпением ждем сотрудничества с Вами!   Команда компании  АМС Интернешнл Груп
        %div.amsworkpartners.inline
          - @amsgroup.each do |group|
            %h2
              = link_to group.titlerus, group
              = link_to group.descriptionrus, group
          

      %div.amsgroupproduction
        %div.stone_gallery
          - @amsgroup.each_slice(3) do |group|
            %div
              - group.each do  |s|
                .ams_gallery_foto
                  = link_to s do
                    = image_tag s.imagegroup.url(:medium)
                %h2= link_to s.titlerus, s
      %div
        %h2 КОНТАКТЫ
        %p Компания <strong>AMS Internatioanl</strong> предоставляет услуги доставки\заказа материала и изделий из гранита, а так же предоставляет отдельные услуги грузодоставки подобных материалов между объектами, по Украине и странам Евросоюза. Более детальную информацию о материалах, их цене и контакты Вы можете найти в соответствующих разделах сайта.
        %div.amsmap
          <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d5079.3149484281075!2d30.422413629237415!3d50.466102747194455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x40d4cc4c421728d9%3A0xb7feff3b14a19330!2z0LLRg9C70LjRhtGPINCh0ZbQutC-0YDRgdGM0LrQvtCz0L4sIDgsINCa0LjRl9Cy!3m2!1d50.466096!2d30.426790999999998!5e0!3m2!1suk!2sua!4v1478502083441" width="1100" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>


           

 
  