%h1 this is the face of user, like a person status
%h2= @amsgroup.titlerus
%br
%h3= @amsgroup.descriptionrus
%br

= link_to "Back", amsgroups_path, class: "btn btn-default"
= link_to "Edit", edit_amsgroup_path, class: "btn btn-default"
= link_to "delete", amsgroup_path, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default"